In [1]:
import pandas as pd

# Sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, None, 30, 28, None],
    'Salary': [50000, 60000, None, 45000, 70000]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob   NaN  60000.0
2  Charlie  30.0      NaN
3    David  28.0  45000.0
4      Eve   NaN  70000.0

In [2]:
df_dropped = df.dropna()
print("\nDataFrame after dropping missing values:")
print(df_dropped)

DataFrame after dropping missing values:
    Name   Age   Salary
0  Alice  25.0  50000.0
3  David  28.0  45000.0

In [3]:
df_filled = df.fillna({
    'Age': df['Age'].mean(),     # Fill Age with mean
    'Salary': df['Salary'].median()  # Fill Salary with median
})

print("\nDataFrame after filling missing values:")
print(df_filled)

DataFrame after filling missing values:
      Name        Age   Salary
0    Alice  25.000000  50000.0
1      Bob  27.666667  60000.0
2  Charlie  30.000000  55000.0
3    David  28.000000  45000.0
4      Eve  27.666667  70000.0

In [4]:
def min_max_normalize(column):
    return (column - column.min()) / (column.max() - column.min())

In [5]:
df_filled['Age_Normalized'] = min_max_normalize(df_filled['Age'])
df_filled['Salary_Normalized'] = min_max_normalize(df_filled['Salary'])

print("\nDataFrame after Min-Max Normalization:")
print(df_filled[['Name', 'Age', 'Age_Normalized', 'Salary', 'Salary_Normalized']])

DataFrame after Min-Max Normalization:
      Name        Age  Age_Normalized   Salary  Salary_Normalized
0    Alice  25.000000        0.000000  50000.0                0.2
1      Bob  27.666667        0.533333  60000.0                0.6
2  Charlie  30.000000        1.000000  55000.0                0.4
3    David  28.000000        0.600000  45000.0                0.0
4      Eve  27.666667        0.533333  70000.0                1.0